@tailwind preflight;
@tailwind components;
@tailwind utilities;

.logo {
  animation: spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.btn-outline-blue {
    @apply bg-transparent text-blue-lighter no-underline font-semibold py-2 px-4 border border-blue-light rounded;
}

.btn-outline-blue:hover {
    @apply bg-blue-lighter text-blue-darker border-transparent;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
